body {
  background-color: #151935;
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
      /* width: 213px; */
      height: 70px;
      background-color: #151935;
      /* margin: 30px auto; */
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      width: 100%;
}

.login-block {
  max-width: 320px;
  min-width: 300px;
  padding: 20px;
  background: transparent;
  border-radius: 5px;
  border-top: 5px solid rgb(229 202 53);
  margin: 0 auto;
}

.container {

  flex-direction: column;
}

.login-block h1 {
  text-align: center;
  color: #fff;
  font-size: large;
  margin-top: 55px;
  margin-bottom: 32px;
}

.login-block input {
  width: 100%;
  height: 42px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 15px;
  font-family: Montserrat;
  padding: 0 20px 0 50px;
  outline: none;
}

.login-block input#username {
  background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
  background-size: 16px 80px;
}



.login-block input#password {
  background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
  background-size: 16px 80px;
}


.login-block input:active, .login-block input:focus {
  border: 1px solid #151935;
}

.login-block button {
  width: 100%;
  height: 40px;
  background: rgb(229 202 53);
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  color: #151935;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  font-family: Montserrat;
  outline: none;
  cursor: pointer;
}

.login-block button:hover {
  opacity: 0.8;
}
