* {
  margin: 0;
  padding: 0px;
}



.head {
  background-color: #f9f0ff;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 30px 3% 50px;
  align-items: flex-start;
  background-color: #151935;
  color: #fff;

}


.menu {
  background-color: #151935;
  display: flex;
  padding: 20px 3% 0px;

}

.modal-header {
  background-color: #151935;
  color: #fff;
}


.list-section h2 {
  text-align: center;
  padding-top: 20px;
}

.date{
  text-align: center;
}

.title {
  color: #fff;
}

h1.titulo,
.titulo.h1 {
  padding-top: 30px;
}

.head-btns {
  background-color: rgb(247, 219, 64);
  border: none;
  margin: 7px;
  color: #151935;

}

.add-btns {
  background-color: rgb(247, 219, 64);
  border: none;
  margin: 7px;
  color: #151935;
}

.table {
  width: 90%;
  border-spacing: 0 1rem;
  border-collapse: separate;
}

.head-btns:hover {
  background-color: rgb(247, 219, 64);
  opacity: 0.8;
  transition: 0.2 s linear;
}

.nav-btn
{
  display: block;
  padding: 5px 10px;
  color: rgba(255, 255, 255, 0.764);
  font-size: 20px;
  /* line-height: 60px; */
  text-decoration: none;
}

.article{
  display: none;
  padding: 5% 15%;
  font-size: 22px;
}

.article-image {
  object-fit: cover;
}

.nav-btn:active , .nav-btn:hover{

 
  color: #fff;
  transition: 0.8 s linear;
}

.active{
   border-bottom: 2px solid rgb(247, 219, 64);
   color: #fff;
}


.yesterday-date {
  counter-reset: rgba(218, 216, 216, 0.822);
}

.imglogo {
  max-width: 100%;
  height: 70px;
}

.yesterday {
  padding-top: 35px;
  background-color: #151935;
  padding-bottom: 80px;
  display: none;

}

.add-hover:hover {
  background-color: rgb(229 202 53);
  opacity: 1;
  transition: 0.2 s linear;
}

.yesterday h2 {
  color: #fff;
}

html {
  margin: 0;
  padding: 0px;
}




.yesterday ul {
  margin-bottom: 0px;
}


.awareness {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
  text-align: center;
}


.stack-item {
  width: 90%;
}

.btn-parlay {
  background-color: #151935;
  color: #fff;
}

.money {
  width: 30%;
}

.money-data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.cuota {
  font-size: large;
  color: green;
}

.modal-body {
  height: 300px;
  overflow-y: scroll;
 background-color: rgb(248 249 250);
}


.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 25%;
}

.modal-footer{
  background-color: rgb(248 249 250);
}

.accordion-item {

  max-width: 400px;
  min-width: 150px;
  background-color: #fff;
}

.accordion-button {
  background-color: #151935 !important;
  color: #fff !important;
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
  width: 100%;
  height: 40px;
}

.table-responsive {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 20px;
  display: none;


}




li {
  border-radius: 7px;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center;
}

.yesterday li {
  padding: 0px 30px;

}

.table-header {
  background-color: #151935;
  /* font-size: 14px; */
  /* text-transform: uppercase; */
  /* letter-spacing: 0.03em; */
  width: 90%;
  color: #fff;
  font-weight: 500;
  padding: 25px 30px;
}

.table-row {
  box-shadow: 0px 0px 9px 0px rgb(0 0 0 / 10%);
  width: 90%;
  border: 1px solid #15193552;
  background-color: #fff;
}

.col-1 {
  flex-basis: 5%;
}

.col-2 {
  flex-basis: 20%;
}

.col-3 {
  flex-basis: 30%;
}

.col-4 {
  flex-basis: 10%;
}

.col-5 {
  flex-basis: 25%;
  text-align: center;
}

.responsive-table {
  display: flex;
  width: 100%;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  align-items: center;

}


.today {
  background-color: #151935;
  padding-bottom: 10px;
}


ul {
  padding: 0px;
}

@media screen and (max-width:590px) {

  .col-1 {
    width: 100%;
    text-align: end;
    display: none;
  }

  .col-2 {
    width: 100%;
  }

  .col-3 {
    width: 100%;
  }

  .col-4 {
    width: 100%;
  }

  .col-5 {
    width: 100%;
    text-align: center;
  }

  li {
    border-radius: 7px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .head-btns {
    width: 100%;
  }

}

.trash{
  font-size: small;
  color: #adb5bd;
}

.close {
  padding: 0px;
  font-size: x-large;
  margin-right: 0.75rem;
  color: #fff;
 
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color: #151935;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  font-size: 25px;
}

.float:hover {
  color: #fff;

}

.my-float{
	margin-top:8px;
}

.float:before {
  content: attr(data-count);
}
.no-forecast{
  height: 100%;
  text-align: center;
  margin-top: 50px;
  color: #636464;
}

.badge {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  /* display: block; */
  position: absolute;
  background-color: #d90418;
  /* border: 2px solid white; */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -10px;
  right: -9px;
  transition: all .3s;
  font-size: small;
}

/* 2. Make nav sticky */
main > nav {
  position: sticky;
  top: 2rem;
  align-self: start;
}
​
/* 3. ScrollSpy active styles (see JS tab for activation) */
.section-nav li.active > a {
  color: #333;
  font-weight: 500;
}
​
/* Sidebar Navigation */
.section-nav {
  padding-left: 0;
  border-left: 1px solid #efefef;
}
​
.section-nav a {
  text-decoration: none;
  display: block;
  padding: .125rem 0;
  color: #ccc;
  transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
}
​
.section-nav a:hover,
.section-nav a:focus {
  color: #666;
}
​
/** Poor man's reset **/
* {
  box-sizing: border-box;
}
​
html, body {
  background: #fff;
}
​
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
​
ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin-left: 1rem;
}
​
h1 {
  font-weight: 300;
}
​
/** page layout **/
main {
  display: grid;
  grid-template-columns: 1fr 15em;
  max-width: 100em;
  width: 90%;
  margin: 0 auto;
}
​
/** enlarge the sections for this demo, so that we have a long scrollable page **/
section {
  padding-bottom: 20rem;
}


